<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JOD</title>

    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/dashboard.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">JOD Compete</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</</li>
                    <li>@Html.ActionLink("Profile", "Details", "Account")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="../Project/Search" method="get">
                    <input type="text" class="form-control" placeholder="Search..." name="searchString" id="main-search">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create project", "Create", "Project")</li>
                    <li>@Html.ActionLink("My projects", "Index", "Project")</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("Your Profile", "Details", "Account")</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("About JOD Compete", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact JOD Compete", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                @RenderBody()
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/main.js"></script>
</body>
</html>
