@model InternetApp.Models.UserDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.UserProfiles.UserName)'s Profile</h2>

<p>
    Name: @Html.DisplayFor(model => model.UserProfiles.FirstName) @Html.DisplayFor(model => model.UserProfiles.LastName)<br />
    Email: <a href="mailto:@Html.DisplayFor(model => model.UserProfiles.Email)">@Html.DisplayFor(model => model.UserProfiles.Email)</a>
</p>

<h2 class="sub-header">Projects @Html.DisplayFor(model => model.UserProfiles.FirstName) owns:</h2>
<div class="table-responsive">
    <table class="table table-striped" id="project-table">
        <thead>
            <tr class="column-names">
                <th>Name</th>
                <th>Difficulty</th>
                <th>Detail</th>
                <th>Reward (USD)</th>
                <th>Required skill</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr class="@item.Difficulty">
                    <td>
                        @Html.ActionLink(@item.Name, "../Project/Details/" + @item.ProjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
