@model IEnumerable<InternetApp.Models.UserProfile>

@{
    ViewBag.Title = "Search";
}

<h1 class="page-header">Search for "@ViewBag.searchString"</h1>
<a href="../Project/Search?searchString=@ViewBag.searchString">Search projects</a>
<h2 class="sub-header">User results</h2>
@foreach (var item in Model) {
    <h2>@Html.ActionLink(@item.UserName, "Details/" + @item.UserId)</h2>
    <ul>
    <li>Name: @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</li>
    <li><a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a></li>
    </ul>
}




