@model IEnumerable<InternetApp.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h1 class="page-header">My projects</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
    <table class="table table-striped" id="project-table">
        <thead>
            <tr class="column-names">
                <th>Name</th>
                <th>Difficulty</th>
                <th>Detail</th>
                <th>Price</th>
                <th>Required skill</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.UserId == ViewBag.memberIdent)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Difficulty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
