@model IEnumerable<InternetApp.Models.Project>

@{
    ViewBag.Title = "Search";
}

<h1 class="page-header">Search for "@ViewBag.searchString"</h1>

<a href="../Account/Search?searchString=@ViewBag.searchString">Search users</a>

<h2 class="sub-header">Project results</h2>
<div class="table-responsive">
    <table class="table table-striped" id="project-table">
        <thead>
            <tr class="column-names">
                <th>Name</th>
                <th>Difficulty</th>
                <th>Detail</th>
                <th>Price</th>
                <th>User Id</th>
                <th>Required skill</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Name, "Details/" + @item.ProjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink(@item.UserId.ToString(), "../Account/Details/" + @item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
