@model IEnumerable<InternetApp.Models.Project>

@{
    ViewBag.Title = "Home Page";
}
<h1 class="page-header">Dashboard</h1>

Filter difficulty:
<select id="skill-lvl-filter">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>

</select>

<h2 class="sub-header">Recommended projects</h2>
<div class="table-responsive">
    <table class="table table-striped" id="project-table">
        <thead>
            <tr class="column-names">
                <th>Name</th>
                <th>Difficulty</th>
                <th>Detail</th>
                <th>Price</th>
                <th>Required skill</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@item.Difficulty">
                    <td>
                        @Html.ActionLink(@item.Name, "../Project/Details/" + @item.ProjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
