@model IEnumerable<InternetApp.Models.Project>

@{
    ViewBag.Title = "Home Page";
}

<h2>Recommended projects for you</h2>
@ViewBag.testVar

Filter difficulty:
<select id="skill-lvl-filter">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>

</select>

<table id="project-table">
    <tr class="column-names">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
            <tr class="@item.Difficulty">
                <td>
                    @Html.ActionLink(@item.Name, "../Project/Details/" + @item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillName)
                </td>
            </tr>
    }

</table>
